html,
body {
	background-color: black;
	font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

section {
	overflow: hidden;
	background-color: white;
}

h1,
h2,
h3 {
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

h1 {
	font-size: 333%;
	color: white;
}

h2 {
	font-weight: normal;
	font-size: 278%;
	color: #2c3e50;
}

h3 {
	font-size: 110%;
	color: #06a99c;
}

.btn {
	background-color: #6c1d5f;
	color: white;
	text-transform: uppercase;
	font-size: 110%;
	padding: 5px 40px;
	text-decoration: none;
	margin: auto;
	display: inline-block;
	border: none;
	border-radius: 2px;
}

.btn-arrow-right {
	background: #6c1d5f url(../images/fleche-btn-suivant.png) no-repeat right 10px center;
}

.bold {
	font-weight: bold;
}

.bloc {
	width: 900px;
	margin: auto;
}

/* HEADER */
	#menu-top {
		margin: 20px;
		text-align: center;
		font-weight: lighter;
	}

	#links-top a {
		font-size: 110%;
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		margin: 0 15px;
		line-height: 57px;
		vertical-align: top;
	}

	#links-top a:hover {
		font-weight: bold;
		color: #06a99c;
		text-decoration: underline;
	}

	#reseaux-sociaux a {
		display: inline-block;
		vertical-align: top;
		font-size: 0;
		width: 25px;
		height: 57px;
		margin: 0 5px;
	}

	#link-twitter {
		background: transparent url(../images/picto-social-twitter-inactif.png) no-repeat center center;
	}

	#link-twitter:hover {
		background: transparent url(../images/picto-social-twitter-actif.png) no-repeat center center;
	}

	#link-google {
		background: transparent url(../images/picto-social-google+-inactif.png) no-repeat center center;
	}

	#link-google:hover {
		background: transparent url(../images/picto-social-google+-actif.png) no-repeat center center;
	}

	#link-linkedin {
		background: transparent url(../images/picto-social-linkedin-inactif.png) no-repeat center center;
	}

	#link-linkedin:hover {
		background: transparent url(../images/picto-social-linkedin-actif.png) no-repeat center center;
	}

/* SECTION HOME */
	#home {
		background: transparent url(../images/img-accueil.jpg) no-repeat center center;
		background-size: cover;
	}

	#bloc-home {
		width: 700px;
		font-family: 'Roboto Condensed', sans-serif;
		color: white;
		text-align: center;
		background-color: rgb(255, 255, 255);
		background-color: rgba(255, 255, 255, 0.15);
		padding: 20px;
		margin: 100px auto;
	}

	#bloc-home p {
		font-size: 133%;
		font-weight: lighter;
	}

	.to-bottom {
		text-align: center;
	}

	.to-bottom a {
		margin: 10px 0 20px;
		display: block;
	}

	.to-bottom a.btn {
		display: inline-block;
	}

/* SECTION HOW */
	#image-section-how {
		text-align: center;
	}

/* SECTION NOS EXPERTS */
	#section-experts {
		background-color: #f4f4f4;
	}

/* SECTION WHAT */
	#section-what .bloc {
		margin: 20px auto 100px;
	}

/* SECTION NOS MISSIONS TYPES */
	#section-missions {
		background-color: #f4f4f4;
	}

/* SECTION RETOUR D'EXPERIENCE */
	#section-retour .bloc {
		margin: 20px auto 100px;
	}

	#bloc-section-retour div div,
	#bloc-section-retour div img {
		display: inline-block;
		width: 50%;
		vertical-align: top;
	}

	#bloc-section-retour p {
		margin: 0 10px;
	}

/* FOOTER */
	#footer {
		background-color: #1a2530;
		text-align: center;
		font-size:70%;
	}

	#footer,
	#footer a {
		color: white;
		text-decoration: none;
		text-transform: uppercase;
	}

	#footer a {
		padding: 0 10px;
	}

	#bloc-footer {
		margin: 20px auto;
		display: inline-block;
	}